@charset "UTF-8";

*,*::before,*::after{
    box-sizing: border-box;
}

* {
  margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p, h1, h2 {
  overflow-wrap: break-word;
}

p{
    font-size: 20px;
}

/* header部分 */

header{
    background-color: rgb(244, 79, 79);
    text-align: center;
}

.header-text{
    /* margin: 0; */
    color: rgb(255, 255, 255);
}



/* mainの部分（横4×縦3） */

main{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.weather-wrapper{
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 17.5%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
    /* display: grid;
    justify-items: center; */
}

.weather-wrapper:nth-child(4n),
.weather-wrapper:nth-child(4n+2),
.weather-wrapper:nth-child(4n+3){
    margin-left: 10%;
}

.weather-title{
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
    margin-bottom: 10px;
}

.weather-title::before{
    content: "●";
    color: rgb(239, 111, 139);
}

.weather-wrapper .weather-text:nth-of-type(2n)::first-letter{
    font-weight: bold;
    color: rgb(97, 206, 249);
}

.weather-image{
    margin: 10px 0;
    width: 70%;
}

/* footer部分 */

footer{
    text-align: center;
    background-color: rgb(244, 79, 79);
}

.footer-copy a{
    color: rgb(255, 255, 255);
    /* margin: 10px 0; */
}

.footer-copy a:visited{
    color: rgb(193, 234, 251);
}

.footer-copy a:hover{
    color:rgb(245, 178, 168)
}


/* タブレット対象のブレイクポイント1（横3×縦4） */
@media screen and (min-width:768px) and (max-width:1080px){
    .weather-title{
    font-size: 30px;
    }

    p{
    font-size: 25px;
    }

    .weather-wrapper{
    margin-left: 0;
    margin-right: 0;
    flex-basis: 30%;
    }

    .weather-wrapper:nth-child(4n),
    .weather-wrapper:nth-child(4n+2),
    .weather-wrapper:nth-child(4n+3){
    margin-left: 0;
    }

    /* なぜ.weather-wrapper:nth-child(3n), .weather-wrapper:nth-child(4n+2)でmargin-left:5%を指定しなくても3列になるのか？ */
    /* 4列の場合は、.weather-wrapper:nth-child…でmargin-leftを指定しないと、型崩れを起こす */

}


/* タブレット対象のブレイクポイント2（横2×縦6） */
@media screen and (min-width:428px) and (max-width:768px) {
    .weather-title{
    font-size: 30px;
    }

    p{
    font-size: 25px;
    }

    .weather-wrapper{
    margin-left: 0;
    margin-right: 0;
    flex-basis: 45%;
    }

    /* .weather-wrapper:nth-child(2n){
    margin-left: 20%;
    } */
    .weather-wrapper:nth-child(4n),
    .weather-wrapper:nth-child(4n+2),
    .weather-wrapper:nth-child(4n+3){
    margin-left: 0;
    }

}



/* スマートフォン対象のブレイクポイント（横1×縦12） */
@media screen and (max-width:428px) {
    .weather-title{
    font-size: 30px;
    }

    p{
    font-size: 25px;
    }

    main{
    display: block;
    /* display: grid; */
    }

    .weather-wrapper{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    }

    .weather-wrapper:nth-child(4n),
    .weather-wrapper:nth-child(4n+2),
    .weather-wrapper:nth-child(4n+3){
    margin-left: 0;
    }

}